/* @media(min-width: 768px){

    #divLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100vh;}

        .sectionRight {

            width: 0%;

        }



}
 */
