.containerSc1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.containerSc1 h1 {
  font-size: 3.5em;
  margin: 0 0 0.2em;
}

.containerSc1 p {
  font-size: 1em;
}
.containerSc1 h2 {
  font-size: 1.7em;
  margin: 4em 0 0.5em;
  justify-content: center;
}
