#sectionHome {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
}

#homeCenter {
  display: flex;
  width: 100%;
  height: 91vh;
}
#homePart1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
#homePart2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#homePartUp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 31%;
}


