#textFooterFive button {
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  border: 0;
  color: #c13216;
}

#textFooterSix {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 8;
}
#textFooterSix button {
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-decoration: none;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}

#textFooterSix button:hover {
  font-size: clamp(0.5rem, 1.2vw, 1rem);
  cursor: pointer;
  color: #c13216;
}
