.txtInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  min-height: 45%;
  justify-content: center;
  align-items: flex-start;
}
.cardLogin {
  display: flex;
  width: 100%;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 2%;
}
.txtInput #noContent {
  width: 100%;
  height: 2em;
}

.cardLogin input {
  width: 100%;
  height: 6vh;
  font-weight: bolder;
  background: transparent;
  color: #ffffff;
  border: 0;
}
.cardLogin input:focus {
  outline-width: 0;
}
#textError {
  display: flex;
  width: 100%;
  height: 7em;
  justify-content: center;
  text-align: center;
}

#textError p {
  font-size: 16px;
  color: #e9b425;
  margin: 5% 0;
  text-align: center;
}

.btnLogin {
  width: 100%;
  height: 6vh;
  min-height: 4vh;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  cursor: pointer;
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.btnLogin p:hover {
  color: #26292c;
}
.cardLogin input::placeholder {
  padding-left: 4%;
}
.inputPc::placeholder {
  color: #ffffff;
  letter-spacing: 0px;
  font-size: 18px;
}
