#sectionHome{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#homeCenter{

    display: flex;
    width: 100%;
    height: 90vh;
   


}
#homePart1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 40%;
}




 /* img and logo of home */

#logoPequena{
    width: 100%;
    height: 100%;
    
}
#logoPequena img{
    margin: 2vw ;
    width: 25%;
    
}



#imgCompassBig {
    display: flex;    
    margin: -3vw ;
    width: 100%;
    height: 80%;
    
    
}
#imgCompassBig img{
    max-width: 80%;

   
}


/*  segunda parte da home */

#homePart2{
    display: flex;
    flex-direction: column;

   
     width: 60%;
}

#homePartUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35%;
  
}

#divWatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
  


}
#divWatch h1{
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
    color: #222222;
    
    
}
#divWatch p{

    font-size: 0.8vw;
    text-align: center;
    font-weight: bold;
    color: #222222;



}

#climate{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background: rgb(99, 55, 129);


}







#homePartLow{
    width: 100%;
    height: 100%;
    background: yellow;
}



footer{

    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    width: 100%;
    height: 10vh;
}