#logoPequena {
  width: 100%;
  height: 100%;
  height: 20%;

}
#logoPequena img {
  margin: 2vw;
  width: 25%;
}

#imgCompassBig {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  
}
#imgCompassBig img {  
 min-width: 55vh;
 max-width: 55vh; 
  margin: 0 0 -12% 0;
}
