.txtInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: flex-start;
  /* background: #ac3f3f; */
}
.cardLogin {
  display: flex;
  width: 100%;
  height: 6vh;  
  justify-content: space-between;
  align-items: center; 
  border: 1px solid #ffffff; 
  border-radius: 50px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 2%;
  
}
.txtInput #noContent{
  width: 100%;
  height: 2em;
  /* background: aqua; */
}

.cardLogin input {
  width: 100%;  
  height: 6vh;   
  font-weight: bolder;
  background: transparent;
  color: #ffffff;
  /* background: #FF2D04; */
  border: 0;
}
.cardLogin input:focus {
  outline-width: 0;
}

#textError {
  display: flex;
  width: 100%;
  height: 6em;
  justify-content: center;
  text-align: center;
}

#textError p {
  font-size: 16px;
  color: #e9b425;
  margin: 5% 0;
  text-align: center;
}

#buttonLogin {
  display: flex;
  width: 100%;
  height: 6vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%); 
  border-radius: 50px;
}
.btnLogin {
  width: 100%;
  height: 3vh;
  border: 0;  
  background: transparent;
  cursor: pointer;
  color: #ffffff;
}
.cardLogin input::placeholder{

  padding-left: 4%;

}
.inputPc::placeholder {
  color: #ffffff;
  letter-spacing: 0px;
  font-size: 18px;
}

.btnLogin p {
  margin: auto;
  text-align: center;
  font-size: clamp(10px, 16px, 26px);
  font-weight: bold;
}
.btnLogin p:hover{
  color: #26292c;
}
