#textFooter {
  display: flex;
  align-items: center;  
  font-size: clamp(0.8rem, 0.5vw, 1.5rem);
  width: 100%;
  height: 100%;
  grid-column: 2;
  color: #ffffff;
}

#textFooter p{
  font-size: clamp(0.3rem, 1vw, 0.8rem);
  text-align: end;
}

#textFooterTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  font-size: clamp(0.5rem, 1vw, 1rem);
  grid-column: 4;
  color: #ffffff;
 
}
