#textFooterThee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
     /* background: blue;  */
    grid-column: 5;
    color: #ffffff;
  }
  #textFooterThee h1 {
    font-size: 2.5em;
  }
  #textFooterThee p {
    font-size: 0.7em;
  }