

.txtInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: flex-start;
}



.cardLogin  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
 
    
    
}
.cardLogin input{
    padding: 2em 10.5em 2em 1em;
    margin: 0.9em -2em;    
    height: 2.8em;
    background: #26292C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-sizing: border-box;
    
    color: #FFFFFF;
}



#textError{
    display: flex;
    width: 100%;
    height: 6em;
    justify-content: center;
    text-align: center;
    color: #FF2D04;


}


#buttonLogin{

    display: flex;
    width: 100%;
    height: 5em;
    justify-content: center;
   
}


.btnLogin{
    width: 24.5em ;
      
    
      
    height: 4.2em;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    color: #FFFFFF;
}